<form>
    <md-input-container class="full-width">
        <input mdInput placeholder="Company Name" tracker="company-name">
    </md-input-container>

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <md-input-container class="full-width">
                    <input mdInput placeholder="First Name" tracker="first-name">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Last Name" tracker="last-name">
                </md-input-container>
            </td>
        </tr>
    </table>
    <p>
        <md-input-container class="full-width">
            <textarea mdInput placeholder="Address" tracker="address"></textarea>
        </md-input-container>
        <md-input-container class="full-width">
            <textarea mdInput placeholder="Address 2" tracker="address-2"></textarea>
        </md-input-container>
    </p>

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <md-input-container class="full-width">
                    <input mdInput placeholder="City" tracker="city">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="full-width">
                    <input mdInput placeholder="State" tracker="state">
                </md-input-container>
            </td>
            <td>
                <md-input-container class="full-width">
                    <input mdInput #postalCode maxlength="5" placeholder="Postal Code" tracker="postal-code">
                    <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                </md-input-container>
            </td>
        </tr>
    </table>
</form>